{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 80,
	"bracketSpacing": true,
	"useTabs": true,
	"tabWidth": 2,
	"arrowParens": "always",
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto"
}
